<h1>Category (<%= @categories.length %>) </h1>


<ol>

  <% @categories.each do |category|  %>
  <li>
    <%= link_to category_products_path(category) do %>
    <%= category.title %> <%= category.products_count %>
    <% end  %>
  </li>
  <% end  %>
</ol>
